h1 {
	text-align:center;
}



.firstRow {
	border:none;
	}

#buttonRight {
	float: right;
}

#buttonLeft {
  float: left;
}

.table-bordered > thead > tr > td {
  border: 1px solid #ddd;
  border-right-width:0px;
  border-left-width:0px;
}

.btn-group {
  white-space: nowrap;
  .btn {
    float: none;
    display: inline-block;
  }
}

th {
    text-align: center;
}

td{
	text-align: center;
}